<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="home">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="login" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="register">Register </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="wishlist">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="completed">Completed</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " (click)="logout()" routerLink="completed">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="color:red;" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{title}}</h1>
  </div>
</div>


<!-- <button   style="text-align: center; margin-left:17cm;" onclick=" this.disabled=true;getElementById('button1').style.display = 'block'; this.style.display = 'none' " class="btn btn-primary" id="button1" routerLink="login">login</button>
<button    class="btn btn-primary" id="button2" routerLink="register">register</button>
<button    class="btn btn-primary" id="button3" routerLink="wishlist">Wishlist</button>
<button    class="btn btn-primary" id="button4" routerLink="completed">Completed</button>
<button  (click)="logout()"   class="btn btn-primary" id="button5" routerLink="completed">Logout</button>
 -->

<router-outlet></router-outlet>
